<div class="row">
  <div class="col-xs-12">
    <p>Add Server or Blueprints</p>
    <label>Server Name</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
    <input type="text" class="form-control" #serverNameInput>
    <label>Server Content</label>
    <input type="text" class="form-control" [(ngModel)]="newServerContent">
    <br>
    <button class="btn btn-primary" (click)="onCreateServer(serverNameInput)">Add Server</button>
    <button class="btn btn-primary" (click)="onCreateBlueprint(serverNameInput)">Add Blueprint</button>
  </div>
</div>